<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  </head>
  <header>
    <!-- <div class="backdrop">
      <h1 id="title">Yasmine Esparza</h1>
    </div> -->

    <!-- <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-1 button">

      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-1 button">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
    </div> -->
  </header>
  <body>

    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-3 project one">

      </div>
      <div class="col-md-3 project two">

      </div>
      <div class="col-md-3 project three">

      </div>
    </div>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-3 project">

      </div>
      <div class="col-md-3 project">

      </div>
      <div class="col-md-3 project">

      </div>
    </div>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-3 project">
        1
      </div>
      <div class="col-md-3 project">
        2
      </div>
      <div class="col-md-3 project">
        3
      </div>
    </div>


  </body>
  <footer>
    &copy;
  </footer>
</html>
