body {
  font: 14px "Azo Sans", Helvetica, Arial, sans-serif;
  font-family: "Azo Sans";
  background-color: rgb(83, 35, 35) !important;
  background-size: cover;
}
html {
  font-family: "Azo Sans";
}
a {
  color: #00B7FF;
}
#app {

  clear: both;
  height: auto;
  min-height: 2000px;
}


header {
  height: 1000px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(203, 203, 203);
  border: 1px solid black;
  background-image: url("/images/header-background.jpg");
  background-size: cover;
  font-size: 32px;
  font-family: "Proxima Nova";
}

#title {
  text-align: center;
}
.nav-main {
  display: inline;
  position: absolute;
  top: 25px;
  min-width: 600px;
}
.nav-button {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.nav-button:hover {
  color: rgb(17, 198, 255) !important;
}
.nav-button:active {
  color: rgb(17, 198, 255) !important;
}
.nav-item {
  margin-left: 50px;
  display: inline;

}
.backdrop {
  top: 0px;
  position: absolute;
  background-color: rgba(3, 3, 3, 0.7);
  height: 100px;
  width: 100%;
}
.title {
  position: absolute;
  text-align: center;
  margin-left: 10px;
  color: rgb(190, 190, 190);
}
.projectsContainer {
  height: auto;
  overflow-x: auto;
  margin-top: 100px !important;
  max-width: 1600px;
  width: auto;
  margin: 0 auto;
  display: block;
}
.about-section {
  line-height: 2;
  color: white;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 275px;
  padding: 50px;
  text-align: center;
}
.block-title {
  text-align: center;
  margin-bottom: 50px;
  color: white;
}
.about-section > h3 {
  text-align: center;
}
.project-block {
  width: 430px;
  height: 300px;
  float: left;
  margin-left: 75px;
  margin-bottom: 75px;
}
.title-backdrop {
  width: 430px;
  height: 50px;
  position: absolute;
  margin-top: 250px;
  background-color: rgba(71, 76, 93, 0.7);
}
.project-image {
  width: 100%;
  height: 300px;
}

footer {
  height: 100px;
  width: 100%;
  /*background-color: rgba(120, 120, 120, 0.83);*/
  position: absolute;
  bottom: -600px;
}
